# Project-specific files to ignore
# images/

# IDE and editor configuration
.vscode/
*.swp
*~

# Log files
*.log

# Environment files: You'd usually don't synch local env files but have these set by CI/CD
# .env

# SECRETS: You'd usually NEVER commit secrets publicly
# secrets/

# Ignore the directory containing self-signed SSL certificate and private key
# srcs/requirements/nginx/conf/ssl/